<ion-content>

  <div *ngIf="globalJson[0]?.forgot_password?.jnkLogo?.show" class="ion-text-center" style="margin-top: 20%;margin-bottom: 10%">
    <img src="assets/images/esahaj_logo.png"/>
  </div>
  <div *ngIf="globalJson[0]?.forgot_password?.sangliLogo?.show" class="ion-text-center" style="margin-top: 20%;margin-bottom: 10%">
    <img src="assets/icon/nhm_sagali.png" width="150"/>
  </div>
  <form [formGroup]="forgotPassword">
    <ion-row>
      <ion-col>
        <ion-label class="login-label" position="stacked">Mobile Number</ion-label>
        <ion-input class="login-input" type="text" formControlName="mobile"
                   required></ion-input>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
      <ion-col>
        <button (click)="getPassword()" type="button" color="success" class="login-button">
          Submit
        </button>
      </ion-col>
    </ion-row>
  </form>
  <ion-row *ngIf="globalJson[0]?.forgot_password?.jnkLogo?.show" style="margin-top: 100px;">
    <ion-col>
      <div class="ion-text-center">
        <img style="height: 75px;" src="assets/images/jnk_logo.png"/>
      </div>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="globalJson[0]?.forgot_password?.sangliLogo?.show" style="margin-top: 80px;">
    <ion-col>
      <div class="ion-text-center">
        <img style="height: 75px;" src="assets/icon/nhm_sagali.png"/>
      </div>
    </ion-col>
  </ion-row>
  <span *ngIf="globalJson[0]?.forgot_password?.jnkFooter?.show">
  <ion-row style="margin-top: 25px;">
    <ion-col class="ion-text-center" class="logo-name">
      NATIONAL HEALTH MISSION
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center" class="logo-footer">
      Jammu Kashmir
    </ion-col>
  </ion-row>
</span>
  <span *ngIf="globalJson[0]?.forgot_password?.sangliFooter?.show" >
     <ion-row  style="margin-top: 40px;">
  <ion-col class="ion-text-center" class="logo-footer">
    SMART PHC - SANGLI ZILLA PARISHAD
  </ion-col>
</ion-row>
  </span>
</ion-content>
