ion-row {
  height: 75px;
  padding: 5px 20px;
}

.login-label {
  padding: 8px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #5D5D5D;
}

.logo {
  line-height: 150px;
}

select {
  width: 100%;
  height: 40px;
}

//ion-item {
//  border-radius: 10px !important;
//  //font-size: 0.9em;
//  margin-bottom: 10px;
//  border: 1px solid #ffffff;
//  border-bottom: 0px !important;
//  box-shadow: none !important;
//}
//
//ion-input {
//  padding: 5px 15px !important;
//  border: 1px solid black;
//  border-radius: 10px;
//}
//
ion-select {
  width: 100% !important;
}

.login-button {
  width: 225px;
  height: 50px;
  background: #60C477 !important;
  border-radius: 10px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.login-button:disabled,
.login-button[disabled] {
  width: 225px;
  height: 50px;
  background: #cccccc !important;
  border-radius: 10px;
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.logo-name {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.12em;
  color: #000000;
  margin: 10px 0px;
}

.logo-footer {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: #000000;
}

//
//ion-label {
//  padding-left: 47px;
//  font-size: 15px;
//}
//#logo{
//  position: absolute;
//  width: 236px;
//  height: 54px;
//  left: 88px;
//  top: 97px;
//
//  //background: url(ERAHI.png);
//}
//
//.name{
//  font-family: 'Calibri';
//  font-style: normal;
//  font-weight: 400;
//  font-size: 20px;
//  line-height: 24px;
//  text-align: center;
//  letter-spacing: 0.12em;
//  color: #000000;
//}
//
//.ion-button{
//  --padding-start: 6.9em;
//  --padding-end: 6.9em;
//  height: 45px;
//  background-color: #60C477;
//  color: #ffffff;
//  border-radius: 8px;
//}
//
//.name1{
//  position: absolute;
//  left: 38.44%;
//  right: 38.09%;
//  top: 93.71%;
//  bottom: 4.2%;
//  font-family: 'Calibri';
//  font-style: normal;
//  font-weight: 700;
//  font-size: 14px;
//  line-height: 17px;
//  text-align: center;
//  color: #000000;
//}
//
