<ion-content>
  <div class="loginLogo m-0 p-0 ">
    <ion-img src="assets/img/logo.png" alt="logo"></ion-img>
  </div>
  <div class="loginFormBox">
    <form [formGroup]="RegisterForm" class="mt-4">
      <ion-row>
        <ion-col>
          <ion-input label="Fullname" type="text" label-placement="floating" fill="outline" placeholder="Fullname"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="Email" type="email" label-placement="floating" fill="outline" placeholder="Email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="Password" type="password" label-placement="floating" fill="outline" placeholder="Password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input label="Re-type Password" type="password" label-placement="floating" fill="outline" placeholder="Re-type Password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="full">Sign Up</ion-button>
        </ion-col>
      </ion-row>
      <!--<ion-row class="justify-content-end pt-0 pe-4">-->
        <!--<ion-label class="forgotPassword">Forgot Password</ion-label>-->
      <!--</ion-row>-->
      <ion-row class="pt-3">
        <ion-col class="text-center">
          <ion-label>Already Registered? <a href="/">Click here</a> to Login</ion-label>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
